body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
.page-logo-text {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #2e2f42;
  line-height: 1.1666666666666667;
}
header a span {
  color: #4d5ae5;
}
.page-menu-list li {
  list-style-type: none;
}
.page-menu-list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
}
.page-menu-list a:hover {
  color: #404bbf;
}
.page-menu-list a:focus {
  color: #404bbf;
}
address a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  text-decoration: none;
}
address a:focus {
  color: #404bbf;
}
address a:hover {
  color: #404bbf;
}
.button-sec {
  background-color: #2e2f42;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.0714285714285714;
  color: #ffffff;
  letter-spacing: 2%;

  text-align: center;
}
button {
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  top: 428px;
  left: 638px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
.first-list-main li {
  list-style: none;
}
.first-list-main li h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2e2f42;
}
.first-list-main li p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}
.team-class {
  background-color: #f4f4fd;
}
.team-class h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111111111111112;
  text-align: center;
  
  letter-spacing: 2%;
  color: #2e2f42;
}
.team-class-list li {
  list-style: none;
  background-color: #ffffff;
  
}
.team-class-list h3 {
  font-size: 20px;
  font-weight: 500;
  
  letter-spacing: 2%;
  line-height: 1.2;
  color: #2e2f42;
}
.team-class-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  
  color: #434455;
}
.portfolio h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111111111111112;
  text-align: center;
  letter-spacing: 2%;
  color: #2e2f42;
}
.portfolio-list li {
  list-style: none;
}
.portfolio-list h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2e2f42;
}
.portfolio-list p {
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 1.5;
  color: #434455;
}
footer {
  background-color: #2e2f42;
}
footer a {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1666666666666667;
  text-decoration: none;
  letter-spacing: 3%;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}
footer a span {
  color: #4d5ae5;
}
footer p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #f4f4fd;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
.page-logo-text {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #2e2f42;
  line-height: 1.1666666666666667;
}
header a span {
  color: #4d5ae5;
}
.page-menu-list li {
  list-style-type: none;
}
.page-menu-list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
}
.page-menu-list a:hover {
  color: #404bbf;
}
.page-menu-list a:focus {
  color: #404bbf;
}
address a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  text-decoration: none;
}
adress a:focus {
  color: #404bbf;
}
adress a:hover {
  color: #404bbf;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 2%;
  background-color: #2e2f42;
  text-align: center;
}
button {
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  top: 428px;
  left: 638px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px, 32px, 16px, 32px;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
}
button :hover {
  color: #404bbf;
}
.first-list-main li {
  list-style: none;
}
.first-list-main li h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2e2f42;
}
.first-list-main li p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}
.team-class {
  background-color: #f4f4fd;
}
.team-class h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 2%;
  color: #2e2f42;
}
.team-class-list li {
  list-style: none;
  background-color: #ffffff;
}
.team-class-list h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2%;
  line-height: 1.2;
  color: #2e2f42;
}
.team-class-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}
.portfolio h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;

  letter-spacing: 2%;
  color: #2e2f42;
}
.portfolio-list li {
  list-style: none;
}
.portfolio-list h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2e2f42;
}
.portfolio-list p {
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 1.5;
  color: #434455;
}
footer {
  background-color: #2e2f42;
}
footer a {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 3%;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}
footer a span {
  color: #4d5ae5;
}
footer p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #f4f4fd;
}
